@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
}

.gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    background-image:
        radial-gradient(at 25% 5%, #3a8bfd 0px, transparent 0%),
        radial-gradient(at 95% 25%, #002fff 0px, transparent 50%),
        radial-gradient(at 10% 40%, #0400ff 0px, transparent 50%),
        radial-gradient(at 10% 75%, #eeff00 0px, transparent 50%),
        radial-gradient(at 97% 95%, #f6da06 0px, transparent 50%),
        radial-gradient(at 25% 45%, #f4ec06 0px, transparent 50%),
        radial-gradient(at 70% 55%, #ceeea5 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.3;
}

@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}